[Unit]
Description=Zookeeper
Before=
After=network.target

[Service]
Type=forking
User=zookeeper
Environment=ZOO_LOG_DIR={{ zookeeper.data_dir }}/log
CHDIR= {{ zookeeper.data_dir }}
ExecStart=/usr/share/zookeeper/bin/zkServer.sh start
Restart=on-abort

[Install]
WantedBy=multi-user.target